
{% comment %}

This is the display for the 'menu' form.

{% endcomment %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Chess Heatmaps</title>
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Chess Heatmaps</h1>
        </div>
        <div class="frame">
            <form action="{% url 'menus:heatmap_display' %}" method="post">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <a href="{% url 'menus:heatmap_comp_menu' %}">Want to compare two heatmaps?</a> 
    </body>
</html>